.main {
    flex: 1;
}
.container {
    width: fit-content;
    position: relative;
    box-sizing: content-box;
    top: 25vh;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
        background-color: rgb(202, 159, 159);
    }
}
@media only screen and (min-width: 300px) and (max-width: 800px) and (orientation: landscape) {
    .container {
        position: absolute;
        top: 70%;
        box-sizing: content-box;
    }
}
