.container {
    padding: 1em;
    width: 70%;
    min-height: 100vh;
    color: black;
    background-color: #cfcfcf;
    margin: auto;
    border-left: 1px black solid;
    border-right: 1px black solid;
    .posts {
        border: 1px solid black;
        h1 {
            margin: 0;
            font-family: Coiny-Regular;
        }
        p {
            color: #464646;
            margin-top: 0;
        }

        img {
            width: 100%;
        }
        .metadata {
            padding: 1%;
        }
    }
}

@media (min-width: 300px) and (max-width: 700px) {
    .container {
        padding: 0.5em;
        width: 100%;
        h1 {
            font-size: 1.5rem;
        }
    }
}
@media (min-width: 0px) and (max-width: 330px) {
    .container {
        padding: 0.1rem;
        // background-color: #212121;
        width: 100%;
        h1 {
            font-size: 1.1rem;
        }
    }
}
