.container {
    background-color: #cfcfcf;
    padding: 2em;
    width: 70%;
    min-height: 100vh;
    color: black;
    // background-color: white;
    margin: auto;
    border-left: 1px black solid;
    border-right: 1px black solid;

    h1,
    h2 {
        font-family: Coiny-Regular;
    }

    p {
        color: #464646;
        margin-top: 0;
    }
    pre {
        overflow-x: scroll;
        font-weight: normal;
        color: white;
        background-color: #212121;
        padding: 1em;
        overflow-x: scroll;
        overflow-y: scroll;
        max-height: 300px;
    }
    code {
        color: #d1d1d1;
        font-weight: bold;
        font-family: "Poiret one";
    }
    pre::-webkit-scrollbar {
        display: none;
    }
    img {
        width: 100%;
    }
    a {
        color: blue;
    }
}
@media (min-width: 300px) and (max-width: 700px) {
    .container {
        padding: 1em;
        width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 330px) {
    .container {
        padding: 0.1rem;
        width: 100%;
    }
}
