// @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

@font-face {
    font-family: "Poiret One";
    src: local("Poiret One"), url(/fonts/PoiretOne-Regular.ttf);
}
// @font-face {
//     font-family: "Architects Daughter";
//     src: local("Architects Daughter"),
//         url(/fonts/ArchitectsDaughter-Regular.ttf);
// }
// @font-face {
//     font-family: "Coiny";
//     src: local("Coiny"), url(/fonts/Coiny-Regular.ttf);
// }
// @font-face {
//     font-family: "Vollkorn";
//     src: local("Vollkorn"), url(/fonts/Vollkorn-VariableFont_wght.ttf);
// }
// @font-face {
//     font-family: "Yatra One";
//     src: local("Yatra One"), url(/fonts/YatraOne-Regular.ttf);
// }
html,
body {
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
    // background-color: #2b2e2f;
    // background-color: #212121;
    background-color: #221731;
    font-family: "Poiret One";
}
body::-webkit-scrollbar {
    display: none;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}

/************************************************************
################## Tech Component Styles  ###################
*************************************************************/

.header {
    font-weight: bold;
    color: white;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    flex: 1 auto;
    align-items: center;
    background-color: #141414;
    // background-image: url("/pacman.png");
    // background-size: cover;
    background-position: top;

    box-shadow: 0px 1px 1px rgb(73, 70, 70);
    z-index: 10;

    > div {
        flex: 1;
    }
}
.title-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
        width: 35%;
        padding: 0.5em;
        border-radius: 30%;
    }

    #title {
        font-weight: bolder;
        font-size: x-large;
        color: #ca5110;
    }
}

.navigation-container {
    display: flex;
    color: #deb49c;
    color: #eabd64;

    div {
        padding: 1em;
    }
    a {
        padding: 1em 0em;
        padding-left: 1em;
    }
    a:hover {
        color: #78836c;
    }
}
.social-container {
    display: flex;
    justify-content: space-evenly;
    .social {
        display: flex;
    }
}
.cover {
    position: relative;
    height: 40vh;
    background-image: url("/avengers.jpg");
    background-position: bottom;
    background-size: cover;
    box-shadow: 0px 10px 5px rgb(3, 3, 3);
    #profile {
        width: 200px;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        box-shadow: 0px 4px 5px rgb(3, 3, 3), 0px -1px 5px rgb(3, 3, 3);
    }
}

.profile-container {
    #bio {
        margin: auto;
        margin-top: 110px;
        // margin-bottom: 2%;
        padding: 1em;
        background-color: #141414;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 80vw;
        font-family: "Poiret One";
        h2,
        h3,
        h5 {
            color: darkturquoise;
            margin: 5px;
            text-align: center;
        }
        #name {
            color: #18b118;
        }
        p {
            margin: 0;
            text-align: center;
        }
    }
}

.techlist-container {
    margin: auto;
    margin-bottom: 1em;
    width: 40vw;
    display: flex;
    flex-flow: row wrap;
    background-color: #141414;
    align-items: center;
    > div {
        position: relative;
        flex: auto;
        width: 5%;
        padding: 0.2em;
        text-align: center;
        .hovertip {
            width: 100%;
            font-size: 0.6rem;
            font-weight: bold;
            position: absolute;
            top: 120%;
            left: 0%;
            display: none;
        }
        .hovertip::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 30%;
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent rgb(38, 202, 207) transparent;
        }
    }
    div:hover {
        .hovertip {
            display: initial;
        }
    }
}

.card-outercontainer {
    font-weight: bold;
    display: flex;
    flex-flow: column;
    // background-color: #3d3b3b;
    .skills {
        margin: auto;
    }
}

.card-innercontainer {
    // background-color: #3d4246;
    width: auto;
    margin: 0em 10%;
    display: flex;
    flex-flow: row wrap;
    > div {
        flex: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1em 1em 0.5em 1em;
        width: 15%;
        height: 15vh;
        border-radius: 10%;
    }

    > :nth-child(odd) {
        background-color: #871b42;
    }

    > :nth-child(even) {
        background-color: #3b345bbb;
    }
}

.techstack-outercontainer {
    // background-color: #491d1d;
    .stack-title {
        h4 {
            padding-top: 1em;
            color: #61dafb;
        }
        text-align: center;
    }
    .techstack-innercontainer {
        // background-color: rgb(36, 184, 184);
        margin: auto;
        margin-top: 3em;
        position: relative;
        width: 150px;
        height: 350px;

        > div {
            background-color: #141414;
            position: absolute;
            // left: 50%;
            flex: auto;
            height: 150px;
            padding: 0.2em;
            box-shadow: -5px 0px 5px black, -5px 0px 5px black;
            transform: rotateZ(-40deg) rotateX(30deg);
            transition: all 1s;
        }
        > div:nth-child(odd):hover {
            z-index: 7;
            top: -25px;
            transform: translate(0px, 0px);
            box-shadow: -5px 5px 5px 1px black;
        }
        > div:nth-child(even):hover {
            top: 0px;
            transform: translate(0px, 0px);
            z-index: 7;
            box-shadow: -5px 5px 5px 1px black;
        }

        div:nth-child(1) {
            top: 0px;
            z-index: 6;
            color: #61dafb;
        }
        div:nth-child(2) {
            top: 25px;
            z-index: 5;
        }
        div:nth-child(3) {
            top: 50px;
            z-index: 4;
        }
        div:nth-child(4) {
            top: 75px;
            z-index: 3;
        }
        div:nth-child(5) {
            top: 100px;
            z-index: 2;
        }
        div:nth-child(6) {
            top: 125px;
        }
        .stackcard {
            text-align: right;
            position: relative;
            span {
                z-index: 6;
                position: absolute;
                bottom: 0;
                right: 0%;
            }
        }
    }
}
.aboutme-container {
    margin: auto;
    padding: 1em;
    background-color: #141414;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 80vw;
    font-family: "Poiret One";
    h2,
    h4,
    h6 {
        color: darkturquoise;
        margin: 5px;
        text-align: center;
    }
    p {
        margin: 0;
        text-align: center;
    }
}

.contact-container {
    padding: 1rem;
    margin: 1rem auto;
    // background-color: #212121;
    background-color: #141414;
    font-family: inherit;
    font-weight: bold;
    width: 80vw;
    display: flex;
    flex-flow: column;
    align-items: center;

    h4 {
        color: darkturquoise;
        margin: 1rem 0;
        text-align: center;
    }
    form {
        width: 50%;
        text-align: center;
    }

    .button {
        font-family: inherit;
        font-weight: bold;
        // background-color: #50a9af;
        // color: #fff;
        box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11),
            0 1px 3px rgba(0, 0, 0, 0.08);
        text-transform: inherit;
        margin-top: 0.5rem;
        width: 100%;
    }
    // .button:hover {
    //     background-color: #5469d4;
    // }
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////

///////////////////////////////////////////////////////////////////////////////////////////////////////////

/************************************************************
*   #   #   #   #   #   #   #   #   #   #   #   #   #   #   *
*   #   #   #   #   #   #   #   #   #   #   #   #   #   #   *
******************   Media Queries   ************************
*   #   #   #   #   #   #   #   #   #   #   #   #   #   #   *
*   #   #   #   #   #   #   #   #   #   #   #   #   #   #   *
*************************************************************/

@media (min-width: 300px) and (max-width: 700px) {
    .header {
        flex-flow: row wrap;
        > div {
            flex: auto;
        }
    }

    .title-container {
        img {
            width: 15%;
            border-radius: 30%;
        }
    }

    .cover {
        height: 30vh;
        #profile {
            width: 40%;
            border-radius: 50%;
        }
    }
    .navigation-container > div {
        padding: 1em 1em 1em 0em;
    }
    .social-container > div {
        padding: 1em 0em 1em 0em;
    }
    .profile-container {
        #bio {
            width: 90vw;
            margin-top: 22%;
            // margin-bottom: 5%;
        }
    }
    .aboutme-container {
        width: 90vw;
        margin: 5% auto;
    }
    .techlist-container {
        width: 90vw;
        > div {
            .hovertip::after {
                left: 40%;
            }
        }
    }

    .card-innercontainer {
        width: auto;
        margin: 1em;
        display: flex;
        flex-flow: row wrap;
        > div {
            flex: 1 25%;
            margin: 0.5em 0.5em 0em 0.5em;
            width: 15vw;
            height: 10vh;
            border-radius: 10%;
        }

        > :nth-child(odd) {
            background-color: rgb(21, 91, 104);
        }

        > :nth-child(even) {
            background-color: #812a75;
        }
    }

    .contact-container {
        width: 90vw;
        form {
            width: 80%;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 330px) {
    .header {
        flex-flow: column;

        .title-container {
            img {
                width: 30%;
                border-radius: 30%;
            }

            #title {
                margin: 0;
            }
        }
        .navigation-container {
            div {
                padding: 0.5em;
            }
            a {
                padding: 0.5em 0em;
                padding-right: 1em;
            }
            a:hover {
                color: #78836c;
            }
        }
        .social-container > div {
            padding: 0.5em 0.5em;
        }
    }
    .cover {
        height: 20vh;
        #profile {
            width: 30%;
            border-radius: 50%;
        }
    }
    h4 {
        margin: 0;
    }
    .profile-container {
        #bio {
            width: 100vw;
            margin-top: 20%;
            // margin-bottom: 5%;
        }
    }
    .techlist-container {
        width: 100vw;
    }
    .aboutme-container {
        width: 100vw;
        margin: 5% auto;
    }

    .card-innercontainer {
        > div {
            flex: 1 25%;
            // margin: 0.5em 0.5em 0em 0.5em;
            width: 55vw;
            height: 10vh;
            transition: width 2s 2s;
            border-radius: 10%;
        }
        > :nth-child(odd) {
            background-color: #c22222;
        }

        > :nth-child(even) {
            background-color: #18b118;
        }
    }
    .contact-container {
        width: 100vw;
        form {
            width: 90%;
        }
    }
}

@media only screen and (min-width: 500px) and (max-width: 800px) and (orientation: landscape) {
    .header {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-position: top;
    }
}
